@import "tailwindcss";

html,
body {
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.background-transtion {
  transition: background-color 300ms ease;
}

* {
  scrollbar-color: #000000 transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
