@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

.background-transtion {
  transition: background-color 300ms ease;
}

* {
  scrollbar-color: #000000 transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
